{% extends "layout.html" %}

{% block title %}
Feed
{% endblock %}

{% block main %}
<div class="container mx-auto mw-60">
    {% for row in rows %}
    <!-- Wrap each errand in a clickable link -->
    <a href="{{ url_for('view_errand', errand_id=row[0]) }}" style="text-decoration: none; color: inherit;">
        <div class="card mb-3">
            <div class="border border-left border-right px-0">
                <div class="card shadow-0">
                    <div class="d-flex p-3 border-bottom">
                        <img src="static/logo.jpg" class="rounded-circle" height="50" alt="Runnify Logo" loading="lazy" />
                        <div class="d-flex w-100 ps-3">
                            <div class="flex-grow-1">
                                <h6 class="text-body">
                                    {{ row[1] }} <!-- Title -->
                                    <span class="small text-muted font-weight-normal">@{{ row[2] }}</span> <!-- Username -->
                                    <span class="small text-muted font-weight-normal"> • </span>
                                    <span class="small text-muted font-weight-normal">
                                        {% if row[4] > 0 %}{{ row[4] }}d{% endif %}
                                        {% if row[4] == 0 %}{{ row[5] }}h{% endif %}
                                        ago
                                    </span>
                                </h6>
                                <div class="text-start">
                                    <p style="line-height: 1.2;">{{ row[3] }}</p> <!-- Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
