{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}

<body>
    <div class="container mt-5">
        <div class="d-flex align-items-center">
            {% if user[2] %}
                <img src="{{ url_for('fetch_profile_pic', filename=user[2]) }}" alt="Profile Picture"
                    class="rounded-circle me-3" width="80" height="80">
            {% else %}
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Default Profile Picture"
                    class="rounded-circle me-3" width="80" height="80">
            {% endif %}
            <div>
                <h1>{{ user[0]}}</h1>
                <p>Points: {{ user[1]}}</p>
            </div>
        </div>

        <form action="/profile_picture" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="profile_picture" class="form-label">Change Profile Picture</label>
                <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <p><a href="/executing">Click to see the errands you are executing</a></p>
    <div class="container mx-auto mw-75">
        {% for row in rows %}
        <a href="{{ url_for('errand_detail', errand_id=row[7]) }}" style="text-decoration: none; color: inherit;">
            <div class="card mb-3">
                <div class="border border-left border-right px-0">
                    <div class="card shadow-0">
                        <div class="d-flex p-3 border-bottom">
                                                            <!-- ultimately your user struct will look like [(user data)] <- you have to actually
                                     access the 0th index of that and then the data inside of that which is not associated with 
                                     a specific key like if it were an object -->
                            <!-- <div>
                                user02 : {{user[0][2]}}

                            </div>

                            <div>
                                user : {{user}}
                            </div> -->
                            <!-- <div>
                                user01 :  {{user[2]}}
                            </div> -->
                           
                            {% if row[8] %}                            
                                <img src="{{ url_for('fetch_profile_pic', filename=row[8]) }}"
                                    alt="Profile Picture" class="rounded-circle me-3" width="80" height="80">
                            {% else %}
                                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Default Profile Picture"
                                    class="rounded-circle me-3" width="80" height="80">
                            {% endif %}
                            <div class="d-flex w-100 ps-3">
                                <div class="flex-grow-1">
                                    <h6 class="text-body">
                                        {{row[0]}}
                                        <span class="small text-muted font-weight-normal">@{{row[1]}}</span>
                                        <span class="small text-muted font-weight-normal"> • </span>
                                        <span class="small text-muted font-weight-normal">
                                            {% if row[3] > 0 %}{{ row[3] }}d{% endif %}
                                            {% if row[4] > 0 %}{{ row[4] }}h{% endif %}
                                            {{row[5]}}min ago
                                        </span>
                                        <span class="small text-muted font-weight-normal">{{row[6]}}</span>
                                    </h6>
                                    <div class="text-start">
                                        <p style="line-height: 1.2;">{{row[2]}}</p>
                                    </div>
                                    <form action="/delete" method="post">
                                        <input type="hidden" name="id" value="{{ row[7] }}">
                                        <button type="submit" class="btn btn-danger">Delete Errand</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
{% endblock %}
