{% extends "layout.html" %}

{% block title %}
Publish
{% endblock %}

{% block main %}
<div class="container mt-5">

    <div class="section">
        <h2>Publish a Request</h2>

        <form action="/publish" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" class="form-control" type="text" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Describe your errand</label>
                <input name="content" class="form-control" type="text" required>
            </div>
            <button class="btn btn-primary" type="submit">Publish</button>
        </form>
    </div>
</div>

{% endblock %}