{% extends "layout.html" %}

{% block main %}
<!-- Form for resetting password -->
<form action="{{ url_for('reset_password', token=token) }}" method="post">

    <!-- Include hidden form fields for CSRF protection -->
    {{ form.hidden_tag() }}

    <!-- Display label and input field for the new password -->
    {{ form.password.label }} {{ form.password() }}

    <!-- Display label and input field for confirming the new password -->
    {{ form.confirm.label }} {{ form.confirm() }}

    <!-- Submit button to initiate the password reset -->
    <button type="submit">Reset Password</button>
</form>
{% endblock %}

